html, body, #tabs {
  height: 100%;
}

body {
  margin: 0;
}

#tabs > div {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.modes {
  flex: 1;
}

.modes > div {
  height: 100%;
}

.search-area {
  display: flex;
  flex: 0;
  margin: 12px;
  height: 32px;
  max-width: 800px;
}

.search-area > .search-box {
  flex: 1;
  font-size: 15px;
  padding: 6px;
}

.search-area > .search-button {
  margin-left: 10px;
  width: 80px;
  font-size: 15px;
  background-color: #f8f8f8;
  border: 1px black solid;
  border-radius: 4px;
}
